html {
	height: 100%;
}

body {
	margin: 0;
	background-image: url('../img/background.png');
	background-size: cover;
	background-repeat: none;
}


.links {
	font-family: 'Saira Semi Condensed', sans-serif;
	color: #4648A8;
	text-decoration: none;
	padding-right: 10px;
}

.links:hover {
	color: #F19661;
}

#logo {
	width: 100px;	
	font-size: 55px;
	font-family: 'Bungee Shade', cursive;
	padding: 5px;
	padding-left: 10px;
	color: #4648A8;
	cursor: pointer;
}

#logo:hover {
	color: #F7EC5D;
}

#header {
	height: 20%;
}
#header-right {
	position: absolute;
	top: 25px;
	right: 40px;
	font-size: 17.5px;
}

#intro {
	font-family: 'Saira Semi Condensed', sans-serif;
	font-size: 20px;
	width: 500px;

}

#main {
	font-family: 'Saira Semi Condensed', sans-serif;
	font-size: 25px;
	height: 75%;
	width: 60%;
	margin-left: 10%;
	margin-top: 5%;
}
#music {
	margin-top: 10%;
}